@{
    Layout = "_BookingLayout";
    ViewData["Title"] = "Home Page";

     var counts = ViewBag.Counts ;
 var  Names= ViewBag.ComNames;
  var flights=  ViewBag.Flights ;
}


<html>
  <head>
      
</head>
<body>

  <div class="row  align-items-end  justify-content-around pb-5 " style="height:100vh  "> 
   <div class="col-md-5 p-5 m-3 bg-light" style="border-radius:10px"><canvas id="myChart" ></canvas>
       <h6 class="my-5 text-center">Flight Distribution by Company </h6>
       </div>  
    <div class="col-md-5 p-5 m-3 bg-light" style="border-radius:10px"> 
        <canvas id="myChart2" class=" "></canvas>
        <h6 class="my-5 text-center">Comparison of Number of Admins, Users, and Companies </h6>
        </div>  
  </div> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


    <script>
        var ctx = document.getElementById('myChart2').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Total Number of Individuals'],
                datasets: [{
                    label: 'Admins',
                    data: [@counts[0]],
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }, {
                    label: 'Users',
                    data: [@counts[1]],
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }, {
                    label: 'Companies',
                    data: [@counts[2]],
                    backgroundColor: 'rgba(255, 206, 86, 0.2)',
                    borderColor: 'rgba(255, 206, 86, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        stacked: true
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        });
        var names=@Html.Raw(Json.Serialize(Names))
        var flights=@Html.Raw(Json.Serialize(flights))
        var ctx = document.getElementById('myChart').getContext('2d');
     var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: names,
        datasets: [{
            label: '# of Votes',
            data: flights,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

    </script>
</body>
</html>
